@charset 'utf-8';

@import "settings";
@import "foundation";
@import "motion-ui";

@include foundation-global-styles;
//@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
// @include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
//@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

@font-face {
  font-family: "primary";
  src: url("../fonts/proxima_nova_bold-webfont.woff2") format("woff2"),
    url("../fonts/proxima_nova_bold-webfont.woff") format("woff"),
    url("../fonts/proxima_nova_bold-webfont.ttf") format("truetype"),
    url("../fonts/proxima_nova_bold-webfont.svg#proxima_novabold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "primary";
  src: url("../fonts/proxima_nova_black-webfont.woff2") format("woff2"),
    url("../fonts/proxima_nova_black-webfont.woff") format("woff"),
    url("../fonts/proxima_nova_black-webfont.ttf") format("truetype"),
    url("../fonts/proxima_nova_black-webfont.svg#proxima_novablack")
      format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "primary";
  src: url("../fonts/proxima_nova_reg-webfont.woff2") format("woff2"),
    url("../fonts/proxima_nova_reg-webfont.woff") format("woff"),
    url("../fonts/proxima_nova_reg-webfont.ttf") format("truetype"),
    url("../fonts/proxima_nova_reg-webfont.svg#proxima_novaregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

$blue: #223167;
$red: #dd2c1b;
$gray: #767c80;

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
*:focus {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  color: #333;
  font-family: "primary";
}
p,
a,
body,
html {
  font-family: "primary";
  color: #767c80;
}

body {
  color: #767c80;
  &.overflow {
    overflow: hidden;
  }
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
p {
  font-size: 18px;
  color: #767c80;
  &.white {
    color: #fff;
  }
}

.white {
  color: #fff;
  p {
    color: #fff;
  }
}

a {
  transition: 0.2s all;
  &:hover {
    color: $blue;
  }
}

.show-canvas {
  float: right;
  i {
    font-size: 31px;
    margin-right: 10px;
    margin-top: 7px;
    color: $primary-color;
  }
}
.canvas-container {
  position: fixed;
  top: 0;
  left: 100%;
  transition: 0.3s all;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 9999999;
  .off-canvas-inner {
    width: 100%;
    height: 100vh;
    position: relative;
    padding-top: 50px;
    overflow: scroll;
    .close-canvas {
      position: absolute;
      right: 0;
      top: 0;
      padding: 20px 30px;
      font-size: 35px;
      color: $primary-color;
    }
    ul {
      margin: 0;
      li {
        &.menu-item-has-children {
          & > a {
            padding: 5px;
            background: $primary-color;
            color: $white;
          }
        }
        a {
          display: block;
          width: 100%;
          margin: 15px 0;
          font-size: 20px;
          text-align: center;
        }
      }
    }
  }
  &.open {
    /*display: flex;*/
    left: 0;
  }
}

.main-content {
  .page-title {
    background-color: #0e2655;
    color: white;
    text-decoration: none;
    padding: 40px 0;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 30px;
    @include breakpoint(small only) {
      padding: 10px 0;
      font-size: 28px;
    }
  }

  .content {
    p {
      strong {
        color: #0e2655;
      }
    }
  }

  .wp-block-separator {
    border-top: 0px solid $light-gray;
    border-bottom: 1px solid #cacaca;
  }
}

.page-template-tmp-about {
  .section-about {
    padding-top: 0px;
  }
}
.page-template-tmp-grants,
.page-template-temp-grants-rojects {
  .grants-img {
    display: flex;
    // justify-content: center;
    // align-items: center;
    .content {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      // justify-content: center;
      a {
        // margin-bottom: 115px;
        &.button {
          font-size: 1.4rem;
          padding: 1em 1.3em;
        }
      }
    }
  }
  .content {
    p {
      text-align: justify;
      color: #0e2655;
    }
  }
}

.page-template-temp-call-for-proposal2 {
  h3 {
    font-size: 1.87rem !important;
  }
  .default-button {
    p {
      color: #fff;
      margin: 0;
      strong {
        color: #fff !important;
      }
    }
  }
  ul {
    list-style-type: disc;
    li::marker {
      font-size: 20px;
      color: #0d2655;
    }
  }
  .wp-container-62054074583ad {
    ul {
      list-style-type: none;
    }
  }
}
.page-template-tmp-grants {
  .call-2 {
    background-color: #223167;
  }
}
.page-template-temp-call-for-proposal {
  h3 {
    font-size: 1.9rem !important;
  }
  .default-button {
    width: fit-content;
    margin-bottom: 10px;
  }
  .content {
    h3 {
      font-size: 1.8rem;
    }
    .wp-block-group {
      .wp-block-group__inner-container {
        p,
        h4 {
          font-size: 1.5rem;
        }
      }
    }
    .line-height * {
      line-height: 1.2;
    }
    .line-height {
      border-left: 1px solid #cacaca;
      @include breakpoint(small only) {
        border-left: none;
      }
    }
    .content-margin {
      margin-top: 70px;
      .default-button {
        a {
          color: #fff;
        }
      }
      u {
        font-size: 18px;
        color: #223167;
      }
    }
  }

  .wp-block-group__inner-container {
    ul {
      li {
        a {
          color: #223167;
          font-size: 18px;
        }
      }
    }
  }
}
.single-format-standard {
  .default-button {
    width: 100px;
  }
}

.default-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 900;
  color: $blue;
  @include breakpoint(medium) {
    margin-bottom: 40px;
    font-size: 42px;
  }
  &.center {
    text-align: center;
  }
  &.white {
    color: #fff;
    line-height: 1.2;
  }
}

.small-title {
  font-size: 17px;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 20px;
  color: $blue;
  &.center {
    text-align: center;
  }
  &.white {
    color: #fff;
  }
  &.red {
    color: $red;
    &:hover {
      color: $blue;
    }
  }
}

.default-button {
  font-size: 16px;
  color: #fff;
  padding: 15px 30px;
  background: $blue;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border-radius: 3px;
  align-items: center;
  transition: 0.3s all;

  &:hover {
    background: lighten($blue, 10%);
    color: #fff;
  }
  &.transparent {
    background: rgba(#fff, 0.4);
    &:hover {
      background: rgba($gray, 0.8);
      color: #fff;
    }
  }
}

.header {
  .top-header-2 {
    margin-top: 30px;
    padding: 35px 0 10px 0;
    @include breakpoint(small only) {
      margin-top: 0;
      padding: 0;
    }
    img {
      width: 1000px;
      margin: 0 auto;
      display: block;
    }
  }
  .logo-continer {
    .logo {
      img {
        height: 77px;
      }
    }
  }
  .bottom-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .logo {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      // margin-top: 30px;
      margin-bottom: 12px;
      a {
        margin: 20px 0;
        img {
          width: 500px;
        }
      }
    }
  }
  .sticky + .main-content {
    padding-top: 102px;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    right: 0px;
    background-color: white;
    z-index: 2;
  }
  .menu-holder {
    display: flex;
    margin-bottom: 20px;
    // margin-top: 12px;
    > div {
      width: 100%;
    }
    ul {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        margin: 0 20px;
        position: relative;
        padding: 30px 0;
        &.menu-item-has-children {
          position: relative;
          z-index: 999999;
          .sub-menu {
            position: absolute;
            top: 100%;
            left: 0;
            width: 220px;
            padding: 15px 20px;
            background: $white;
            opacity: 0;
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.18);
            margin-left: 0;
            transition: 0.3s all;
            // overflow: hidden;
            display: none;
            li {
              width: 100%;
              padding: 0;
              margin: 0;
              height: auto;
              margin-bottom: 20px;
              &:last-child {
                margin-bottom: 0;
              }
              .sub-menu {
                position: absolute;
                top: 0px;
                left: 200px;
                padding-top: 0px;
                a {
                  padding-top: 15px;
                }
              }
            }
            a {
              display: inline-block;
              width: 100%;
              line-height: 20px;
              padding: 0px;

              &:after {
                bottom: 0;
                left: 5px;
                right: unset;
                /*display: none;*/
              }
            }
          }
          &:hover {
            .sub-menu {
              display: inline-block;
              opacity: 1;
            }
          }
        }
        a {
          font-size: 18px;
          font-weight: normal;
          line-height: 30px;
          padding: 0 20px;
          &:hover {
            color: $secondary-color;
          }
        }
      }
    }
  }
}

.single-slide-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  &:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba($blue, 0.8);
    z-index: 1;
  }

  &:before {
    @include breakpoint(medium) {
      position: absolute;
      right: 10px;
      top: 0;
      width: 40%;
      height: 100%;
      content: "";
      background-image: url(../img/slider-overlay.svg);
      background-size: auto 98%;
      background-position: center right;
      background-repeat: no-repeat;
      z-index: 2;
    }
  }
  .slider-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    padding: 30px 0;
    padding-top: 300px;
    @include breakpoint(small only) {
      height: 460px;
      padding-top: 0;
    }
    .holder {
      @include breakpoint(medium) {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      .date {
        @include breakpoint(medium) {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-right: 30px;
        }
        .icon {
          width: 30px;
          height: auto;
        }
        p {
          margin-bottom: 0;
        }
      }
      .default-button {
        padding: 6px 30px;
        &:hover {
          background-color: #dd2c1b;
        }
        @include breakpoint(small only) {
          margin-top: 20px;
        }
      }
    }

    .grid-container {
      width: 100%;
    }
  }
}

.hero-slider {
  .slick-slide img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
    height: 440px;
    object-fit: cover;
    object-position: center;
    @include breakpoint(medium) {
      height: 600px;
    }
  }
  .default-title {
    margin-bottom: 10px;
  }
  .slick-dots {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 48px);
    display: flex;
    li {
      position: relative;
      margin-right: 20px;
      button {
        font-size: 0;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.3);
        cursor: pointer;
        transition: 0.3s all;
        @include breakpoint(small only) {
          margin-top: 25px;
        }
      }
      &:hover,
      &.slick-active {
        button {
          background: #fff;
        }
      }
    }
  }
}

.section-about {
  padding: 90px 0;
  background: #fff;
  position: relative;
  overflow: hidden;
  @include breakpoint(small only) {
    padding: 50px 0;
  }
  .art {
    position: absolute;
    width: 220px;
    opacity: 0.1;
    right: -88px;
    bottom: -110px;
  }
  .img-wrapper {
    img {
      margin-top: 20px;
      margin-left: 50px;
    }
  }
  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .default-button {
      @include breakpoint(medium) {
        margin-top: 40px;
      }
    }
  }

  .about-wrapper {
    background-color: #0e2655;
    padding: 50px;
    @include breakpoint(small only) {
      padding: 30px 0;
    }
    .default-title {
      color: white;
    }
    p {
      color: white;
    }
  }
}

.section-news {
  padding: 90px 0;
  background: #fafafa;
  @include breakpoint(small only) {
    padding: 50px 0;
  }
  .section-title {
    margin-bottom: 30px;
  }
  .news-holder {
    .single-news {
      border: 1px solid #dddddd;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 40px;
      .decor {
        position: absolute;
        right: 25px;
        bottom: 25px;
        width: 25px;
        img {
          width: 100%;
        }
      }
      .featured-image {
        display: inline-block;
        margin-bottom: 25px;
        overflow: hidden;
        height: 240px;
        width: 100%;
        img {
          width: 100%;
          height: 240px;
          object-fit: cover;
          object-position: center;
          transition: 0.3s all;
        }
        &:hover {
          img {
            transform: scale(1.05);
          }
        }
      }
      .small-title {
        margin: 0;
        padding: 0 25px;
        width: 100%;
        height: 60px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        &:hover {
          color: $red;
        }
      }
      .read-more {
        color: $red;
        font-size: 16px;
        height: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 25px;
        img {
          margin-left: 25px;
          width: 25px;
          transition: 0.3s all;
        }
        &:hover {
          img {
            transform: translateX(5px);
          }
        }
      }
    }
  }
  .button-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

.section-numbers {
  padding: 90px 0;
  background: #fff;
  @include breakpoint(small only) {
    padding: 50px 0;
  }
  .image-holder {
    margin-top: 0;
    margin-bottom: 60px;
  }
  .numbers-holder {
    .single-number {
      border: 1px solid #dddddd;
      border-radius: 4px;
      display: flex;
      height: 118px;
      margin-bottom: 30px;
      .icon {
        min-width: 100px;
        width: 100px;
        flex: 1 0 100px;
        height: 118px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid #dddddd;
        img {
          width: 40px;
          height: 40px;
        }
      }
      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: calc(100% - 100px);
        width: calc(100% - 100px);
        flex: 1 0 calc(100% - 100px);
        padding: 20px;
        .default-title {
          font-size: 30px;
          margin-bottom: 10px;
          line-height: 1;
        }
        p {
          margin-bottom: 0;
          line-height: 1.1;
        }
        .code4:before {
          content: "€ ";
        }
        .code4:after {
          content: " million";
        }
        .code4.sq:after {
          content: " milion";
        }
      }
    }
  }
}

.section-programme {
  .small-only {
    display: none;
    @include breakpoint(small only) {
      display: block;
    }
  }
  .programme-img {
    @include breakpoint(small only) {
      display: none;
    }
  }
}

.section-map {
  .home-map {
    h2 {
      margin: 66px 0px 20px 100px;
      font-weight: 900;
      font-size: 49px;
      color: #223167;
      @include breakpoint(small only) {
        margin: 66px 0px 20px 40px;
      }
    }
    .locations-table {
      margin: 25px 100px;
      max-height: 400px;
      overflow: overlay;
      @include breakpoint(small only) {
        margin: 25px 30px;
      }
      div > p {
        opacity: 0.47;
        border-bottom: 1px solid;
        padding-bottom: 20px;
        font-size: 21px;
        color: #797e83;
        font-weight: 500;
      }
      div > p:hover {
        opacity: 1;
        font-weight: bold;
        color: #223167;
      }
    }
  }
}

.section-events {
  background: #fafafa;
  padding: 90px 0 0;
  @include breakpoint(small only) {
    padding: 50px 0;
  }
  .content-events {
    // margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px 40px calc(calc(100vw - 1400px) / 2);
    @media screen and (max-width: 1400px) {
      padding: 40px;
    }
    @include breakpoint(small only) {
      padding: 10px;
    }
    .events {
      margin-bottom: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .single-event {
        border: 1px solid #dddddd;
        border-radius: 4px;
        display: flex;
        height: 118px;
        margin-bottom: 30px;
        overflow: hidden;
        width: 100%;
        &:last-child {
          margin-bottom: 0;
        }
        @include breakpoint(small only) {
          height: 100px;
        }
        .date {
          width: 116px;
          height: 116px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          @include breakpoint(small only) {
            width: 100px;
            height: 100px;
          }
          img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
            position: absolute;
            left: 0;
            top: 0;
          }
          span {
            color: #fff;
            font-size: 21px;
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 2;
            align-items: center;
            justify-content: center;
            text-align: center;
            display: flex;
            flex-direction: column;
            background: rgba(#081734, 0.5);
            strong {
              font-weight: 900;
              font-size: 30px;
              width: 100%;
              text-align: center;
            }
          }
        }
        .content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          min-width: calc(100% - 116px);
          width: calc(100% - 116px);
          flex: 1 0 calc(100% - 116px);
          padding: 20px;
          .small-title {
            margin: 0;
            font-size: 20px;
            line-height: 1;
            font-weight: 900;
            height: 60px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            @include breakpoint(small only) {
              font-size: 16px;
              font-weight: 700;
            }
          }
          p {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .gallery-wrapper {
    // .swiper {
    // 	@include breakpoint (small only) {
    // 		height: 400px;
    // 	}
    // }
    h1.title {
      position: absolute;
      top: 30px;
      left: 25px;
      z-index: 199;
      font-size: 49px;
      font-weight: 900;
      color: #223167;
    }
    a.post-title {
      color: white;
      position: absolute;
      z-index: 10000;
      bottom: 125px;
      left: 25px;
      font-weight: 900;
      font-size: 49px;
      @include breakpoint(small only) {
        bottom: 10px;
        font-size: 30px;
      }
    }
    // h3 a.title {
    // 	color: white;
    // 	position: absolute;
    // 	z-index: 10000;
    // 	bottom: 125px;
    // 	left: 25px;
    // 	font-weight: 900;
    // 	font-size: 49px;
    // }
    .swiper-button-holder {
      background-color: #223167;
      height: 50px;
      position: absolute;
      width: 130px;
      bottom: 0px;
      z-index: 999;
      @include breakpoint(small only) {
        display: none;
        position: absolute;
        left: calc(50% - 100px);
      }
    }
    .swiper-button-prev:after {
      background-image: url(../img/arrow-left-gallery.svg) !important;
      font-size: 20px;
    }
    .swiper-button-next:after {
      background-image: url(../img/arrow-right-gallery.svg) !important;
      font-size: 20px;
    }
    img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
      max-height: 548px;
      @include breakpoint(small only) {
        min-height: 300px;
      }
    }
  }

  .content-social {
    padding: 40px 0;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint(small only) {
      margin-top: 30px;
    }
    .socials {
      display: flex;
      align-items: center;
      a {
        width: 60px;
        height: 60px;
        border: 1px solid $red;
        border-radius: 4px;
        margin-right: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s all;
        &:hover {
          background-color: rgba($red, 0.1);
        }
        img {
          width: 32px;
          height: 32px;
          object-position: center;
          object-fit: contain;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .content-gallery {
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      transition: 0.3s all;
    }
    .default-title {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      text-align: center;
      transform: translateY(-50%);
      z-index: 2;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: url(../img/gallery-decor.svg);
      background-size: cover;
      z-index: 1;
      opacity: 0.9;
      transition: 0.3s all;
    }
    &:hover {
      &:after {
        opacity: 1;
      }
      img {
        transform: scale(1.05);
      }
    }
  }
}

.footer {
  padding: 140px 0 50px 0;
  background: #fafafa;
  // margin-top: 90px;
  @include breakpoint(small only) {
    padding-top: 0;
  }
  .footer-logo {
    margin-bottom: 60px;
  }
  .logos {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
    a {
      margin-right: 25px;
      img {
        max-width: 90px;
        height: 60px;
        object-fit: contain;
        object-position: center;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .default-title {
    font-size: 20px;
    margin-bottom: 30px;
    @include breakpoint(small only) {
      margin-bottom: 0;
    }
  }
  .footer-menu {
    @include breakpoint(small only) {
      margin-bottom: 15px;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        width: 50%;
        margin-bottom: 7px;
        .sub-menu {
          display: none;
        }
        a {
          font-size: 16px;
          display: inline-block;
        }
      }
    }
  }
  .touch {
    display: flex;
    flex-direction: column;
    @include breakpoint(small only) {
      margin-top: 13px;
    }
    .single {
      margin-bottom: 20px;
      display: flex;
      height: 30px;
      align-items: center;
      img {
        width: 20px;
        height: 20px;
        object-position: center;
        object-fit: contain;
        margin-right: 20px;
      }
      span {
        width: calc(100% - 50px);
      }
    }
  }
}

.disclaimer {
  padding: 30px 0 10px 0;
  background: #223167;
  .eu {
    width: 100%;
    max-width: 120px;
    display: inline-block;
    border: 1px solid white;
    @include breakpoint(small only) {
      margin-bottom: 20px;
    }
    img {
      width: 100%;
    }
  }
  .dic {
    color: #fff;
    font-size: 16px;
  }
  .links {
    padding-left: 30px;
    a,
    p {
      font-size: 16px;
      color: #fff;
      margin: 0;
    }
  }
  .copyright {
    color: white;
    font-size: 12px;
    a {
      color: white;
    }
  }
}

.section-contact {
  padding-top: 20px;
  #nf-form-1-cont {
    padding-left: 100px;
    @include breakpoint(small only) {
      padding-left: 0;
    }
    h3 {
      font-size: 30px;
      font-weight: 900;
      margin-bottom: 40px;
      color: #223167;
    }
  }
  .nf-form-content {
    label {
      color: #223167;
    }
  }
  .nf-form-content button,
  .nf-form-content input[type="button"],
  .nf-form-content input[type="submit"] {
    background: #223167;
    font-size: 16px;
    color: #fff;
    padding: 15px 30px;
    background: #223167;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 3px;
    -webkit-box-align: center;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    &:hover {
      background: #2f438d;
      color: #fff;
    }
  }
  .nf-form-content .list-select-wrap .nf-field-element > div,
  .nf-form-content input:not([type="button"]),
  .nf-form-content textarea {
    border-radius: 4px;
  }

  .content-social {
    display: flex;
    flex-direction: column;
    align-items: center;

    .socials {
      display: flex;
      align-items: center;
      a {
        width: 60px;
        height: 60px;
        border: 1px solid $red;
        border-radius: 4px;
        margin-right: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s all;
        &:hover {
          background-color: rgba($red, 0.1);
        }
        img {
          width: 32px;
          height: 32px;
          object-position: center;
          object-fit: contain;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }

    .default-title {
      font-size: 30px;
    }
    .connect {
      padding-top: 40px;
      padding-left: 35px;
    }
  }
}

.section-partners {
  padding-bottom: 150px;
  #image1 {
    height: 200px;
  }
  #image2 {
    height: 160px;
  }
  #image3 {
    height: 200px;
  }
}
.under-construction {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background: #000;
  color: #fff;
  font-weight: bold;
  z-index: 999999;
  h6 {
    color: white;
  }
}

.section-press {
  padding-top: 20px;

  .single-events {
    border: 1px solid #dddddd;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
    .decor {
      position: absolute;
      right: 25px;
      bottom: 25px;
      width: 25px;
      img {
        width: 100%;
      }
    }
    .featured-image {
      display: inline-block;
      margin-bottom: 25px;
      overflow: hidden;
      height: 240px;
      width: 100%;
      img {
        width: 100%;
        height: 240px;
        object-fit: cover;
        object-position: center;
        transition: 0.3s all;
      }
      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }
    .small-title {
      margin: 0;
      padding: 0 25px;
      width: 100%;
      height: 60px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      &:hover {
        color: $red;
      }
    }
    .read-more {
      color: $red;
      font-size: 16px;
      height: 30px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 25px;
      img {
        margin-left: 25px;
        width: 25px;
        transition: 0.3s all;
      }
      &:hover {
        img {
          transform: translateX(5px);
        }
      }
    }
  }
}

.section-post-grid {
  .post-item {
    border: 1px solid #dddddd;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
    height: 328px;
    &:hover {
      a {
        color: $red;
      }
      img {
        transform: scale(1.05);
      }
    }
    .featured-image {
      display: inline-block;
      overflow: hidden;
      height: 240px;
      width: 100%;
      img {
        width: 100%;
        height: 240px;
        object-fit: cover;
        object-position: center;
        transition: 0.3s all;
      }
    }
    .small-title {
      margin: 0;
      padding: 0 25px;
      width: 100%;
    }
    h3 {
      display: block;
      width: 100%;
      line-height: 1.1rem;
      a {
        display: block;
        padding: 15px 20px;
        font-weight: bold;
        font-size: 15px;
        color: #223167;
        text-align: center;
      }
    }
  }
}

.page-content {
  padding-top: 20px;
}

.section-stories {
  #map {
    height: 400px;
    position: relative;
  }
}

.section-media {
  .media-holder {
    .post-item {
      border: 1px solid #dddddd;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 40px;
      height: 328px;
      @include breakpoint(small only) {
        height: auto;
      }
      &:hover {
        a {
          color: $red;
        }
        img {
          transform: scale(1.05);
        }
      }
      .featured-image {
        display: inline-block;
        overflow: hidden;
        height: 240px;
        width: 100%;
        img {
          width: 100%;
          height: 240px;
          object-fit: cover;
          object-position: center;
          transition: 0.3s all;
        }
      }
      .small-title {
        margin: 0;
        padding: 0 25px;
        width: 100%;
      }
      h4 {
        display: block;
        width: 100%;
        line-height: 1.1rem;
        a {
          display: block;
          padding: 15px 20px;
          font-weight: bold;
          font-size: 15px;
          color: #223167;
          text-align: center;
        }
      }
    }
  }
}

.section-videos {
  .post-item {
    border: 1px solid #dddddd;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
    height: 328px;
    &:hover {
      a {
        color: $red;
      }
      img {
        transform: scale(1.05);
      }
    }
    .featured-image {
      display: inline-block;
      overflow: hidden;
      height: 240px;
      img {
        width: 100%;
        height: 240px;
        object-fit: cover;
        object-position: center;
        transition: 0.3s all;
      }
    }
    .small-title {
      margin: 0;
      padding: 0 25px;
      width: 100%;
    }
    h4 {
      display: block;
      width: 100%;
      line-height: 1.1rem;
      a {
        display: block;
        padding: 15px 20px;
        font-weight: bold;
        font-size: 15px;
        color: #223167;
        text-align: center;
      }
    }
  }
}

.section-tenders {
  .post-item {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    h4 {
      display: block;
      width: 100%;
      line-height: 2rem;
      display: block;
      font-size: 25px;
      color: #223167;
      margin-bottom: 15px;
    }
    .button {
      margin: 0;
      background-color: #0e2655;
    }
  }
}

.map-page.wwd {
  .grid-container-wwd {
    max-width: 117rem;
    margin-left: auto;
    margin-right: auto;
  }
  .locations-table {
    margin-top: 85px;
    position: sticky;
    top: 100px;
    &.stick {
      height: 300px;
    }
    table {
      .table-head {
        height: 105px;
        border: none;
        .head-wrapper {
          color: #fefefe;
          font-weight: 600;
          background-color: #0e2655;
          font-size: 14px;
          .head-title {
            border-top-left-radius: 21px;
          }
          .head-title-last {
            border-top-right-radius: 21px;
          }
        }
      }
      .table-body {
        &:nth-child(even) {
          background-color: #ecedef;
        }
        &:nth-child(odd) {
          background-color: #f6f7f7;
        }
        .active {
          background-color: #8c919b;
          color: #fff;
          td {
            color: #ffffff;
            p {
              color: #ffffff;
            }
          }
          &:first-child {
            td {
              color: #fff;
            }
          }
        }
        tr {
          font-size: 13px;
          font-weight: 600;
          color: #727272;
          height: 96px;
          &:first-child {
            td {
              color: #4c4c4c;
            }
          }
          td {
            font-size: 13px;
            font-weight: 600;
            color: #727272;
            p {
              font-size: 13px;
              font-weight: 600;
              color: #727272;
            }
          }
          &:hover {
            background-color: #8c919b;
            color: #ffffff;
            td {
              color: #ffffff;
              p {
                color: #ffffff;
              }
            }
          }
        }
      }
    }
    .location-name {
      height: 130px;
      width: 100%;
      background: #de2c1b;
      border-radius: 25px;
      align-items: center;
      text-align: center;
      & > div {
        flex: 0 0 50%;
        color: white;
        justify-content: center;
        display: flex;
        &:first-child {
          p {
            // max-width: 88px;
            font-size: 11px;
            color: white;
            padding: 32px;
            text-align: left;
            margin-bottom: 0;
          }
        }
        &:last-child {
          font-size: 13px;
          font-weight: bold;
          text-align: left;
        }
      }
    }
    .small-boxes {
      margin-top: 20px;
      width: 100%;
      justify-content: space-between;
      .small-box {
        height: 130px;
        border-radius: 25px;
        background-color: #0e2655;
        flex: 0 0 calc(50% - 10px);
        box-sizing: border-box;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .title {
          p {
            font-size: 11px;
            color: white;
          }
        }
        .date {
          p {
            font-size: 13px;
            font-weight: bold;
            color: white;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.map-page {
  .content {
    height: 100%;
    #map {
      min-height: 500px;
      height: 100%;
      @include breakpoint(small only) {
        min-height: 400px;
      }
    }
  }
  .locations-table {
    margin-top: 15px;
    table {
      tbody {
        tr {
          border-bottom: 1px solid #f1f1f1;
          cursor: pointer;
          &:nth-child(even) {
            background: #fff;
          }
          &:hover,
          &.active {
            background: #f1f1f1;
          }
        }
        td {
          line-height: 1;
          &:first-child {
            font-weight: bold;
          }
        }
      }
    }
    .button {
      display: block;
      width: 70px;
      margin: 0;
      &:hover {
        background: $secondary-color;
      }
    }
  }
}

.notification {
  width: 230px;
  background: #fff;
  padding: 20px;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 9999999999;
  box-shadow: 10px 10px 60px #555;
  border-radius: 10px 0 0 10px;
  margin-bottom: 60px;
  .notification-inner {
    position: relative;
    .close-notification {
      position: absolute;
      top: -50px;
      right: -20px;
      background-color: #fff;
      border: 3px solid $blue;
      border-radius: 50px;
      cursor: pointer;
      display: inline-block;
      font-family: arial;
      font-weight: bold;
      font-size: 25px;
      line-height: 25px;
      width: 45px;
      height: 45px;
      text-align: center;
      color: $blue;
    }
    .default-button2 {
      font-size: 10px;
      width: 60px;
      height: 30px;
      margin: 0 auto;
      display: flex;
      color: #fff;
      background: $blue;
      cursor: pointer;
      border-radius: 3px;
      transition: 0.3s all;
      align-items: center;
      justify-content: center;
      text-align: center;
      line-height: 1.2;
    }
    .notification-widget {
      h4 {
        text-align: center;
        color: $blue;
        line-height: 1.2;
      }
      .post-item {
        ul {
          li {
            a {
              h5 {
                font-size: 12px;
                color: $blue;
              }
              &::after {
                content: "";
                border-top: 1px solid $blue;
                display: block;
                width: 50%;
                padding-top: 15px;
              }
            }
          }
        }
      }
    }
    .separation-line {
      border-bottom: 1px solid $blue;
      padding-bottom: 5px;
    }
  }
}
